@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F6F7F9;
  color: #000000;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}